:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._fd-column{flex-direction:column;}
:root ._fd-row{flex-direction:row;}
:root ._pt-10px{padding-top:10px;}
:root ._pr-10px{padding-right:10px;}
:root ._pb-10px{padding-bottom:10px;}
:root ._pl-10px{padding-left:10px;}
:root ._jc-441309761{justify-content:space-between;}
:root ._ai-center{align-items:center;}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-675002279{color:var(--color);}
:root ._gap-10px{gap:10px;}
:root ._gap-5px{gap:5px;}
:root ._col-55535{color:#555;}
:root ._pb-5px{padding-bottom:5px;}